/* Framework styles */

#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.scroll {
    overflow: auto;
}
#notSupported {
    background: #a9434a;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
#notSupported {
    top: 25%;
    left: 33.333%;
    width: 33.333%;
}
#timeLineContainer,
#scoreContainer {
    top: 7%;
    left: 20%;
    width: 60%;
    height: 17%;
    border: 6px solid #949494;
    border-radius: 5px;
}
#scoreContainer img {
    width: 100%;
    height: 100%;
}
#titleContainer {
    top:0%;
    left: 30%;
    width: 40%;
}
#titleContainer p {
    font-size: 2vw;
    color: #ffd54c;
}
#controls {
    top: 1%;
    right: 1%;
    width: 12.5%;
}
#playback img {
    width: 100%;
}
#instructions {
    top: 1%;
    left: 1%;
}
#instructions img {
    width: 50%;
}
