/* Framework styles */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
    color: black;
}
.scroll {
    overflow: auto;
}
.backgroundSubtle {
    background-color: #5c5f64;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"]{
    padding: 0;
    margin: 0;
}
#splashScreen {
    z-index: 100;
    position: absolute;
    top: 0%;
    left: 0%;
    background: black;
    width: 100%;
    height: 100vh;
}
#startText {
    color: white;
    font-size: 3rem;
    top: 30%;
    left: 0%;
    width: 100%;
}
#startText img {
    width: 25%;
}
#WebGL-output {
    position: relative;
}
#timeLineContainer,
#scoreContainer {
    top: 5%;
    left: 10%;
    width: 80%;
    height: 10%;
    border: 6px solid #3e3e3e;
    border-radius: 15px;
    -webkit-touch-callout: none;
}
#scoreContainer img {
    width: 100%;
    height: 100%;
}
#dialContainer p {
    font-weight: 600;
    font-size: 2.25vw;
    margin: 0;
}
.form-group label {
    font-size: 3vw;
}
.form-control {
    height: 30px;
    font-size: 3vw;
}
.contents {
    margin: 0 10%;
}
.contents img {
    margin-bottom: 1%;
}
.contents p {
    font-size: 1vw;
    color: #ffd54c;
    text-align: justify;
}
#titleContainer {
    top:0%;
    left: 30%;
    width: 40%;
    color: #ffd54c;
    -webkit-touch-callout: none;
}
#titleContainer p {
    font-size: 5vw;
}
#controls {
    top: 15%;
    right: 1%;
    width: 20%;
    -webkit-touch-callout: none;
}
#playback img {
    width: 100%;
}
#instructions {
    bottom: 1%;
    left: 1%;
    width: 12.5%;
    -webkit-touch-callout: none;
}
#instructions img {
    width: 100%;
}
#copyright {
    left: 15%;
    bottom: 1.5%;
    font-size: 3.5vw;
    color: white;
    -webkit-touch-callout: none;
}
#zoomControls {
    top: 17.5%;
    left: 1.5%;
    width: 20%;
    -webkit-touch-callout: none;
}
#zoomControls p {
    font-size: 4vw;
    margin: 0;
}
#zoomControls button {
    width: 45%;
    padding: 0;
}
#zoomControls img {
    width: 90%;
}
#rotateControls {
    top: 27.5%;
    left: 1.5%;
    width: 20%;
    -webkit-touch-callout: none;
}
#rotateControls p {
    font-size: 4vw;
    margin: 0;
}
#rotateControls button {
    width: 45%;
    padding: 0;
}
#rotateControls img {
    width: 90%;
}
#waiting {
    top: 50%;
    width: 60%;
    left: 20%;
    background-color: #c7c7c7;
    color: black;
    border-radius: 15px;
    padding: 1%;
    border: 2px solid black;
}
#waiting p {
    font-size: 2.5vw;
}
#waiting img {
    width: 15%;
}
#notSupported {
    top: 40%;
    left: 12.5%;
    width: 75%;
    background-color: #3e3e3e;
    color: white;
    font-size: 2.5vw;
    border-radius: 15px;
    padding: 1%;
}
#notSupported p img {
    width: 25%;
}
/* Media queries */
@media (min-width: 568px) {
    #titleContainer p {
        font-size: 4.5vw;
    }
    #timeLineContainer,
    #scoreContainer {
        top: 10%;
        height: 20%;
    }
    #controls {
        width: 12.5%;
        top: 30%;
    }
    #dialContainer p {
        font-size: 1.5vw;
    }
    .form-group label {
        font-size: 2vw;
    }
    .form-control {
        font-size: 2vw;
        height: 30px;
    }
    label {
        margin-bottom: 0;
    }
    #zoomControls,
    #rotateControls {
        width: 12.5%;
    }
    #zoomControls p,
    #rotateControls p {
        font-size: 3vw;
    }
    #zoomControls {
        top: 30%;
    }
    #rotateControls {
        top: 50%;
    }
    #copyright {
        font-size: 2.25vw;
        left: 11%;
    }
    #waiting img {
        width: 7.5%;
    }
    #notSupported {
        top: 35%;
        font-size: 2.25vw;
    }
    #notSupported p img {
        width: 20%;
    }
    #instructions {
        width: 7%;
    }
}
@media (min-width: 568px) and (orientation: portrait) {
    #titleContainer p {
        font-size: 5vw;
    }
    #timeLineContainer,
    #scoreContainer {
        top: 5%;
        height: 12.5%;
    }
    #zoomControls,
    #rotateControls {
        width: 20%;
    }
    #zoomControls p,
    #rotateControls p {
        font-size: 5vw;
    }
    #zoomControls {
        top: 20%;
    }
    #rotateControls {
        top: 35%;
    }
    #drumStatus {
        top: 65%;
    }
    #controls {
        width: 20%;
        top: 20%;
    }
    #dialContainer p {
        font-size: 2.25vw;
    }
    .form-group label {
        font-size: 2.5vw;
    }
    #instructions {
        width: 10%;
    }
    #waiting {
        width: 75%;
        left: 12.5%;
    }
    #waiting p {
        font-size: 3.5vw;
    }
    #notSupported {
        top: 35%;
        font-size: 2.5vw;
    }
    #notSupported p img {
        width: 25%;
    }
    #copyright {
        font-size: 2.75vw;
        left: 12.5%;
    }
}
@media (min-width: 768px) {
    #titleContainer {
        top: -2%;
    }
    #zoomControls p,
    #rotateControls p {
        font-size: 2.75vw;
    }
    #copyright {
        font-size: 2vw;
        left: 10%;
    }
    .form-group label {
        font-size: 1.5vw;
    }
    .form-control {
        font-size: 1.25vw;
        height: 30px;
    }
    #waiting img {
        width: 7.5%;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    #titleContainer {
        top: -0.5%;
    }
    #notSupported {
        top: 35%;
        font-size: 2.75vw;
    }
    #notSupported p img {
        width: 30%;
    }
    #copyright {
        font-size: 2.5vw;
        left: 12%;
    }
}
@media (min-width: 1200px) {
    #titleContainer {
        top: 0;
    }
    #titleContainer p {
        font-size: 3vw;
    }
    #timeLineContainer,
    #scoreContainer {
        top: 7.5%;
        height: 15%;
    }
    #zoomControls,
    #rotateControls {
        width: 10%;
    }
    #zoomControls p,
    #rotateControls p {
        font-size: 2.25vw;
    }
    #zoomControls {
        top: 22.5%;
    }
    #rotateControls {
        top: 40%;
    }
    #drumStatus {
        width: 60%;
        left: 20%;
    }
    #waiting {
        width: 50%;
        left: 25%;
    }
    #waiting p {
        font-size: 2vw;
    }
    #waiting img {
        width: 5%;
    }
    #notSupported {
        top: 30%;
        font-size: 2.25vw;
    }
    #notSupported p img {
        width: 20%;
    }
    #instructions {
        width: 5%;
    }
    #copyright {
        left: 7.5%;
        font-size: 1.5vw;
    }
}
@media (min-width: 1680px) {
    #titleContainer p {
        font-size: 2.5vw;
    }
    #timeLineContainer,
    #scoreContainer {
        height: 20%;
    }
    #zoomControls,
    #rotateControls {
        width: 7.5%;
    }
    #zoomControls p,
    #rotateControls p {
        font-size: 1.5vw;
    }
    #controls {
        width: 10%;
        top: 20%;
    }
    .form-group label {
        font-size: 1.25vw;
    }
    .form-control {
        font-size: 1vw;
        height: 35px;
    }
    #instructions {
        width: 12.5%;
    }
    #copyright {
        font-size: 1.25vw;
    }
    #notSupported {
        top: 30%;
        font-size: 1.75vw;
    }
    #notSupported p img {
        width: 12.5%;
    }
    #instructions {
        width: 4.5%;
    }
}